:root {
    --amythest: rgba(122, 127, 237, 1);
    --GG-sans-bold-font-family: "gg sans", Helvetica;
    --GG-sans-bold-font-size: 16px;
    --GG-sans-bold-font-style: normal;
    --GG-sans-bold-font-weight: 700;
    --GG-sans-bold-letter-spacing: 0px;
    --GG-sans-bold-line-height: 22px;
    --heading-36-font-family: "Space Grotesk", Helvetica;
    --heading-36-font-size: 36px;
    --heading-36-font-style: normal;
    --heading-36-font-weight: 700;
    --heading-36-letter-spacing: 0px;
    --heading-36-line-height: 22px;
    --helvetica-neue-font-family: "Helvetica Neue", Helvetica;
    --helvetica-neue-font-size: 16px;
    --helvetica-neue-font-style: normal;
    --helvetica-neue-font-weight: 400;
    --helvetica-neue-letter-spacing: 0px;
    --helvetica-neue-line-height: 22px;
    --label-medium-font-family: "SF Pro", Helvetica;
    --label-medium-font-size: 16px;
    --label-medium-font-style: normal;
    --label-medium-font-weight: 400;
    --label-medium-letter-spacing: 0px;
    --label-medium-line-height: 18px;
    --main-heading-bold-font-family: "gg sans", Helvetica;
    --main-heading-bold-font-size: 48px;
    --main-heading-bold-font-style: normal;
    --main-heading-bold-font-weight: 700;
    --main-heading-bold-letter-spacing: 0.96px;
    --main-heading-bold-line-height: 22.5px;
    --peppercorn-typography-scale-blockquote-font-family: "Space Grotesk",
        Helvetica;
    --peppercorn-typography-scale-blockquote-font-size: 16px;
    --peppercorn-typography-scale-blockquote-font-style: normal;
    --peppercorn-typography-scale-blockquote-font-weight: 400;
    --peppercorn-typography-scale-blockquote-letter-spacing: 0px;
    --peppercorn-typography-scale-blockquote-line-height: 24px;
    --peppercorn-typography-scale-body-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-body-font-size: 16px;
    --peppercorn-typography-scale-body-font-style: normal;
    --peppercorn-typography-scale-body-font-weight: 400;
    --peppercorn-typography-scale-body-letter-spacing: 0px;
    --peppercorn-typography-scale-body-line-height: 24px;
    --peppercorn-typography-scale-caption-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-caption-font-size: 13px;
    --peppercorn-typography-scale-caption-font-style: normal;
    --peppercorn-typography-scale-caption-font-weight: 400;
    --peppercorn-typography-scale-caption-letter-spacing: 0px;
    --peppercorn-typography-scale-caption-line-height: 20px;
    --peppercorn-typography-scale-endnote-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-endnote-font-size: 13px;
    --peppercorn-typography-scale-endnote-font-style: normal;
    --peppercorn-typography-scale-endnote-font-weight: 400;
    --peppercorn-typography-scale-endnote-letter-spacing: 0px;
    --peppercorn-typography-scale-endnote-line-height: 20px;
    --peppercorn-typography-scale-footnote-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-footnote-font-size: 10px;
    --peppercorn-typography-scale-footnote-font-style: normal;
    --peppercorn-typography-scale-footnote-font-weight: 400;
    --peppercorn-typography-scale-footnote-letter-spacing: 0px;
    --peppercorn-typography-scale-footnote-line-height: 15px;
    --peppercorn-typography-scale-h1-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h1-font-size: 61px;
    --peppercorn-typography-scale-h1-font-style: normal;
    --peppercorn-typography-scale-h1-font-weight: 400;
    --peppercorn-typography-scale-h1-letter-spacing: 0px;
    --peppercorn-typography-scale-h1-line-height: 92px;
    --peppercorn-typography-scale-h2-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h2-font-size: 39px;
    --peppercorn-typography-scale-h2-font-style: normal;
    --peppercorn-typography-scale-h2-font-weight: 400;
    --peppercorn-typography-scale-h2-letter-spacing: 0px;
    --peppercorn-typography-scale-h2-line-height: 59px;
    --peppercorn-typography-scale-h3-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h3-font-size: 31px;
    --peppercorn-typography-scale-h3-font-style: normal;
    --peppercorn-typography-scale-h3-font-weight: 400;
    --peppercorn-typography-scale-h3-letter-spacing: 0px;
    --peppercorn-typography-scale-h3-line-height: 47px;
    --peppercorn-typography-scale-h4-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h4-font-size: 25px;
    --peppercorn-typography-scale-h4-font-style: normal;
    --peppercorn-typography-scale-h4-font-weight: 400;
    --peppercorn-typography-scale-h4-letter-spacing: 0px;
    --peppercorn-typography-scale-h4-line-height: 38px;
    --peppercorn-typography-scale-h5-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h5-font-size: 20px;
    --peppercorn-typography-scale-h5-font-style: normal;
    --peppercorn-typography-scale-h5-font-weight: 400;
    --peppercorn-typography-scale-h5-letter-spacing: 0px;
    --peppercorn-typography-scale-h5-line-height: 30px;
    --peppercorn-typography-scale-h6-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h6-font-size: 16px;
    --peppercorn-typography-scale-h6-font-style: normal;
    --peppercorn-typography-scale-h6-font-weight: 400;
    --peppercorn-typography-scale-h6-letter-spacing: 0px;
    --peppercorn-typography-scale-h6-line-height: 24px;
    --purple-button: rgba(83, 109, 176, 1);
    --retro-button-2: 0px 1px 4.099999904632568px 0px rgba(0, 0, 0, 0.25);
    --SF-pro-16-bold-font-family: "SF Pro", Helvetica;
    --SF-pro-16-bold-font-size: 16px;
    --SF-pro-16-bold-font-style: normal;
    --SF-pro-16-bold-font-weight: 400;
    --SF-pro-16-bold-letter-spacing: 0px;
    --SF-pro-16-bold-line-height: 22px;
    --SF-pro-condensed-bold-font-family: "SF Pro", Helvetica;
    --SF-pro-condensed-bold-font-size: 20px;
    --SF-pro-condensed-bold-font-style: normal;
    --SF-pro-condensed-bold-font-weight: 700;
    --SF-pro-condensed-bold-letter-spacing: 0px;
    --SF-pro-condensed-bold-line-height: 22.5px;
    --SF-pro-heading-font-family: "SF Pro", Helvetica;
    --SF-pro-heading-font-size: 48px;
    --SF-pro-heading-font-style: normal;
    --SF-pro-heading-font-weight: 700;
    --SF-pro-heading-letter-spacing: 0.96px;
    --SF-pro-heading-line-height: 22.5px;
    --SF-pro-light-font-family: "SF Pro", Helvetica;
    --SF-pro-light-font-size: 16px;
    --SF-pro-light-font-style: normal;
    --SF-pro-light-font-weight: 300;
    --SF-pro-light-letter-spacing: 0px;
    --SF-pro-light-line-height: 22.5px;
    --SF-pro-subtitle-font-family: "SF Pro", Helvetica;
    --SF-pro-subtitle-font-size: 14px;
    --SF-pro-subtitle-font-style: normal;
    --SF-pro-subtitle-font-weight: 400;
    --SF-pro-subtitle-letter-spacing: 0px;
    --SF-pro-subtitle-line-height: 22px;
    --SG-bold-52px-font-family: "Space Grotesk", Helvetica;
    --SG-bold-52px-font-size: 52px;
    --SG-bold-52px-font-style: normal;
    --SG-bold-52px-font-weight: 700;
    --SG-bold-52px-letter-spacing: -3.64px;
    --SG-bold-52px-line-height: 36px;
    --swite: rgba(244, 245, 254, 1);
    --teal-button: rgba(83, 170, 176, 1);
}

:root {
    --amythest: rgba(122, 127, 237, 1);
    --GG-sans-bold-font-family: "gg sans", Helvetica;
    --GG-sans-bold-font-size: 16px;
    --GG-sans-bold-font-style: normal;
    --GG-sans-bold-font-weight: 700;
    --GG-sans-bold-letter-spacing: 0px;
    --GG-sans-bold-line-height: 22px;
    --heading-36-font-family: "Space Grotesk", Helvetica;
    --heading-36-font-size: 36px;
    --heading-36-font-style: normal;
    --heading-36-font-weight: 700;
    --heading-36-letter-spacing: 0px;
    --heading-36-line-height: 22px;
    --helvetica-neue-font-family: "Helvetica Neue", Helvetica;
    --helvetica-neue-font-size: 16px;
    --helvetica-neue-font-style: normal;
    --helvetica-neue-font-weight: 400;
    --helvetica-neue-letter-spacing: 0px;
    --helvetica-neue-line-height: 22px;
    --label-medium-font-family: "SF Pro", Helvetica;
    --label-medium-font-size: 16px;
    --label-medium-font-style: normal;
    --label-medium-font-weight: 400;
    --label-medium-letter-spacing: 0px;
    --label-medium-line-height: 18px;
    --main-heading-bold-font-family: "gg sans", Helvetica;
    --main-heading-bold-font-size: 48px;
    --main-heading-bold-font-style: normal;
    --main-heading-bold-font-weight: 700;
    --main-heading-bold-letter-spacing: 0.96px;
    --main-heading-bold-line-height: 22.5px;
    --peppercorn-typography-scale-blockquote-font-family: "Space Grotesk",
        Helvetica;
    --peppercorn-typography-scale-blockquote-font-size: 16px;
    --peppercorn-typography-scale-blockquote-font-style: normal;
    --peppercorn-typography-scale-blockquote-font-weight: 400;
    --peppercorn-typography-scale-blockquote-letter-spacing: 0px;
    --peppercorn-typography-scale-blockquote-line-height: 24px;
    --peppercorn-typography-scale-body-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-body-font-size: 16px;
    --peppercorn-typography-scale-body-font-style: normal;
    --peppercorn-typography-scale-body-font-weight: 400;
    --peppercorn-typography-scale-body-letter-spacing: 0px;
    --peppercorn-typography-scale-body-line-height: 24px;
    --peppercorn-typography-scale-caption-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-caption-font-size: 13px;
    --peppercorn-typography-scale-caption-font-style: normal;
    --peppercorn-typography-scale-caption-font-weight: 400;
    --peppercorn-typography-scale-caption-letter-spacing: 0px;
    --peppercorn-typography-scale-caption-line-height: 20px;
    --peppercorn-typography-scale-endnote-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-endnote-font-size: 13px;
    --peppercorn-typography-scale-endnote-font-style: normal;
    --peppercorn-typography-scale-endnote-font-weight: 400;
    --peppercorn-typography-scale-endnote-letter-spacing: 0px;
    --peppercorn-typography-scale-endnote-line-height: 20px;
    --peppercorn-typography-scale-footnote-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-footnote-font-size: 10px;
    --peppercorn-typography-scale-footnote-font-style: normal;
    --peppercorn-typography-scale-footnote-font-weight: 400;
    --peppercorn-typography-scale-footnote-letter-spacing: 0px;
    --peppercorn-typography-scale-footnote-line-height: 15px;
    --peppercorn-typography-scale-h1-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h1-font-size: 61px;
    --peppercorn-typography-scale-h1-font-style: normal;
    --peppercorn-typography-scale-h1-font-weight: 400;
    --peppercorn-typography-scale-h1-letter-spacing: 0px;
    --peppercorn-typography-scale-h1-line-height: 92px;
    --peppercorn-typography-scale-h2-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h2-font-size: 39px;
    --peppercorn-typography-scale-h2-font-style: normal;
    --peppercorn-typography-scale-h2-font-weight: 400;
    --peppercorn-typography-scale-h2-letter-spacing: 0px;
    --peppercorn-typography-scale-h2-line-height: 59px;
    --peppercorn-typography-scale-h3-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h3-font-size: 31px;
    --peppercorn-typography-scale-h3-font-style: normal;
    --peppercorn-typography-scale-h3-font-weight: 400;
    --peppercorn-typography-scale-h3-letter-spacing: 0px;
    --peppercorn-typography-scale-h3-line-height: 47px;
    --peppercorn-typography-scale-h4-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h4-font-size: 25px;
    --peppercorn-typography-scale-h4-font-style: normal;
    --peppercorn-typography-scale-h4-font-weight: 400;
    --peppercorn-typography-scale-h4-letter-spacing: 0px;
    --peppercorn-typography-scale-h4-line-height: 38px;
    --peppercorn-typography-scale-h5-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h5-font-size: 20px;
    --peppercorn-typography-scale-h5-font-style: normal;
    --peppercorn-typography-scale-h5-font-weight: 400;
    --peppercorn-typography-scale-h5-letter-spacing: 0px;
    --peppercorn-typography-scale-h5-line-height: 30px;
    --peppercorn-typography-scale-h6-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h6-font-size: 16px;
    --peppercorn-typography-scale-h6-font-style: normal;
    --peppercorn-typography-scale-h6-font-weight: 400;
    --peppercorn-typography-scale-h6-letter-spacing: 0px;
    --peppercorn-typography-scale-h6-line-height: 24px;
    --purple-button: rgba(83, 109, 176, 1);
    --retro-button-2: 0px 1px 4.099999904632568px 0px rgba(0, 0, 0, 0.25);
    --SF-pro-16-bold-font-family: "SF Pro", Helvetica;
    --SF-pro-16-bold-font-size: 16px;
    --SF-pro-16-bold-font-style: normal;
    --SF-pro-16-bold-font-weight: 400;
    --SF-pro-16-bold-letter-spacing: 0px;
    --SF-pro-16-bold-line-height: 22px;
    --SF-pro-condensed-bold-font-family: "SF Pro", Helvetica;
    --SF-pro-condensed-bold-font-size: 20px;
    --SF-pro-condensed-bold-font-style: normal;
    --SF-pro-condensed-bold-font-weight: 700;
    --SF-pro-condensed-bold-letter-spacing: 0px;
    --SF-pro-condensed-bold-line-height: 22.5px;
    --SF-pro-heading-font-family: "SF Pro", Helvetica;
    --SF-pro-heading-font-size: 48px;
    --SF-pro-heading-font-style: normal;
    --SF-pro-heading-font-weight: 700;
    --SF-pro-heading-letter-spacing: 0.96px;
    --SF-pro-heading-line-height: 22.5px;
    --SF-pro-light-font-family: "SF Pro", Helvetica;
    --SF-pro-light-font-size: 16px;
    --SF-pro-light-font-style: normal;
    --SF-pro-light-font-weight: 300;
    --SF-pro-light-letter-spacing: 0px;
    --SF-pro-light-line-height: 22.5px;
    --SF-pro-subtitle-font-family: "SF Pro", Helvetica;
    --SF-pro-subtitle-font-size: 14px;
    --SF-pro-subtitle-font-style: normal;
    --SF-pro-subtitle-font-weight: 400;
    --SF-pro-subtitle-letter-spacing: 0px;
    --SF-pro-subtitle-line-height: 22px;
    --SG-bold-52px-font-family: "Space Grotesk", Helvetica;
    --SG-bold-52px-font-size: 52px;
    --SG-bold-52px-font-style: normal;
    --SG-bold-52px-font-weight: 700;
    --SG-bold-52px-letter-spacing: -3.64px;
    --SG-bold-52px-line-height: 36px;
    --swite: rgba(244, 245, 254, 1);
    --teal-button: rgba(83, 170, 176, 1);
}

:root {
    --amythest: rgba(122, 127, 237, 1);
    --GG-sans-bold-font-family: "gg sans", Helvetica;
    --GG-sans-bold-font-size: 16px;
    --GG-sans-bold-font-style: normal;
    --GG-sans-bold-font-weight: 700;
    --GG-sans-bold-letter-spacing: 0px;
    --GG-sans-bold-line-height: 22px;
    --heading-36-font-family: "Space Grotesk", Helvetica;
    --heading-36-font-size: 36px;
    --heading-36-font-style: normal;
    --heading-36-font-weight: 700;
    --heading-36-letter-spacing: 0px;
    --heading-36-line-height: 22px;
    --helvetica-neue-font-family: "Helvetica Neue", Helvetica;
    --helvetica-neue-font-size: 16px;
    --helvetica-neue-font-style: normal;
    --helvetica-neue-font-weight: 400;
    --helvetica-neue-letter-spacing: 0px;
    --helvetica-neue-line-height: 22px;
    --label-medium-font-family: "SF Pro", Helvetica;
    --label-medium-font-size: 16px;
    --label-medium-font-style: normal;
    --label-medium-font-weight: 400;
    --label-medium-letter-spacing: 0px;
    --label-medium-line-height: 18px;
    --main-heading-bold-font-family: "gg sans", Helvetica;
    --main-heading-bold-font-size: 48px;
    --main-heading-bold-font-style: normal;
    --main-heading-bold-font-weight: 700;
    --main-heading-bold-letter-spacing: 0.96px;
    --main-heading-bold-line-height: 22.5px;
    --peppercorn-typography-scale-blockquote-font-family: "Space Grotesk",
        Helvetica;
    --peppercorn-typography-scale-blockquote-font-size: 16px;
    --peppercorn-typography-scale-blockquote-font-style: normal;
    --peppercorn-typography-scale-blockquote-font-weight: 400;
    --peppercorn-typography-scale-blockquote-letter-spacing: 0px;
    --peppercorn-typography-scale-blockquote-line-height: 24px;
    --peppercorn-typography-scale-body-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-body-font-size: 16px;
    --peppercorn-typography-scale-body-font-style: normal;
    --peppercorn-typography-scale-body-font-weight: 400;
    --peppercorn-typography-scale-body-letter-spacing: 0px;
    --peppercorn-typography-scale-body-line-height: 24px;
    --peppercorn-typography-scale-caption-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-caption-font-size: 13px;
    --peppercorn-typography-scale-caption-font-style: normal;
    --peppercorn-typography-scale-caption-font-weight: 400;
    --peppercorn-typography-scale-caption-letter-spacing: 0px;
    --peppercorn-typography-scale-caption-line-height: 20px;
    --peppercorn-typography-scale-endnote-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-endnote-font-size: 13px;
    --peppercorn-typography-scale-endnote-font-style: normal;
    --peppercorn-typography-scale-endnote-font-weight: 400;
    --peppercorn-typography-scale-endnote-letter-spacing: 0px;
    --peppercorn-typography-scale-endnote-line-height: 20px;
    --peppercorn-typography-scale-footnote-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-footnote-font-size: 10px;
    --peppercorn-typography-scale-footnote-font-style: normal;
    --peppercorn-typography-scale-footnote-font-weight: 400;
    --peppercorn-typography-scale-footnote-letter-spacing: 0px;
    --peppercorn-typography-scale-footnote-line-height: 15px;
    --peppercorn-typography-scale-h1-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h1-font-size: 61px;
    --peppercorn-typography-scale-h1-font-style: normal;
    --peppercorn-typography-scale-h1-font-weight: 400;
    --peppercorn-typography-scale-h1-letter-spacing: 0px;
    --peppercorn-typography-scale-h1-line-height: 92px;
    --peppercorn-typography-scale-h2-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h2-font-size: 39px;
    --peppercorn-typography-scale-h2-font-style: normal;
    --peppercorn-typography-scale-h2-font-weight: 400;
    --peppercorn-typography-scale-h2-letter-spacing: 0px;
    --peppercorn-typography-scale-h2-line-height: 59px;
    --peppercorn-typography-scale-h3-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h3-font-size: 31px;
    --peppercorn-typography-scale-h3-font-style: normal;
    --peppercorn-typography-scale-h3-font-weight: 400;
    --peppercorn-typography-scale-h3-letter-spacing: 0px;
    --peppercorn-typography-scale-h3-line-height: 47px;
    --peppercorn-typography-scale-h4-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h4-font-size: 25px;
    --peppercorn-typography-scale-h4-font-style: normal;
    --peppercorn-typography-scale-h4-font-weight: 400;
    --peppercorn-typography-scale-h4-letter-spacing: 0px;
    --peppercorn-typography-scale-h4-line-height: 38px;
    --peppercorn-typography-scale-h5-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h5-font-size: 20px;
    --peppercorn-typography-scale-h5-font-style: normal;
    --peppercorn-typography-scale-h5-font-weight: 400;
    --peppercorn-typography-scale-h5-letter-spacing: 0px;
    --peppercorn-typography-scale-h5-line-height: 30px;
    --peppercorn-typography-scale-h6-font-family: "Space Grotesk", Helvetica;
    --peppercorn-typography-scale-h6-font-size: 16px;
    --peppercorn-typography-scale-h6-font-style: normal;
    --peppercorn-typography-scale-h6-font-weight: 400;
    --peppercorn-typography-scale-h6-letter-spacing: 0px;
    --peppercorn-typography-scale-h6-line-height: 24px;
    --purple-button: rgba(83, 109, 176, 1);
    --retro-button-2: 0px 1px 4.099999904632568px 0px rgba(0, 0, 0, 0.25);
    --SF-pro-16-bold-font-family: "SF Pro", Helvetica;
    --SF-pro-16-bold-font-size: 16px;
    --SF-pro-16-bold-font-style: normal;
    --SF-pro-16-bold-font-weight: 400;
    --SF-pro-16-bold-letter-spacing: 0px;
    --SF-pro-16-bold-line-height: 22px;
    --SF-pro-condensed-bold-font-family: "SF Pro", Helvetica;
    --SF-pro-condensed-bold-font-size: 20px;
    --SF-pro-condensed-bold-font-style: normal;
    --SF-pro-condensed-bold-font-weight: 700;
    --SF-pro-condensed-bold-letter-spacing: 0px;
    --SF-pro-condensed-bold-line-height: 22.5px;
    --SF-pro-heading-font-family: "SF Pro", Helvetica;
    --SF-pro-heading-font-size: 48px;
    --SF-pro-heading-font-style: normal;
    --SF-pro-heading-font-weight: 700;
    --SF-pro-heading-letter-spacing: 0.96px;
    --SF-pro-heading-line-height: 22.5px;
    --SF-pro-light-font-family: "SF Pro", Helvetica;
    --SF-pro-light-font-size: 16px;
    --SF-pro-light-font-style: normal;
    --SF-pro-light-font-weight: 300;
    --SF-pro-light-letter-spacing: 0px;
    --SF-pro-light-line-height: 22.5px;
    --SF-pro-subtitle-font-family: "SF Pro", Helvetica;
    --SF-pro-subtitle-font-size: 14px;
    --SF-pro-subtitle-font-style: normal;
    --SF-pro-subtitle-font-weight: 400;
    --SF-pro-subtitle-letter-spacing: 0px;
    --SF-pro-subtitle-line-height: 22px;
    --SG-bold-52px-font-family: "Space Grotesk", Helvetica;
    --SG-bold-52px-font-size: 52px;
    --SG-bold-52px-font-style: normal;
    --SG-bold-52px-font-weight: 700;
    --SG-bold-52px-letter-spacing: -3.64px;
    --SG-bold-52px-line-height: 36px;
    --swite: rgba(244, 245, 254, 1);
    --teal-button: rgba(83, 170, 176, 1);
}
